@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all 0.1s ease-in-out;
    list-style-type: none;
}

:root {
    --themeBackground: #eee;
    --profileBackground: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 26%, rgba(0,212,255,1) 100%);
    --mainColor: #526ceb;
    --mainColorTransparent: #526ceb48;
    --playlistBG: #fff;
    --footerColor: #fff;
}
.test {
    height: 10rem !important;
}
.userSettings {
    background-color: #00000049;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    justify-content: center;
    display: none;
    overflow-y: scroll;
}
.userSettings input {
    border: 0.1rem solid black;
}
.exitBtn button {
    border: .1rem solid #000;
    border-radius: .5rem;
    padding: 0.5rem;
    background-color: #fff;
    margin-top: 1rem;
    z-index: 3;
}
.exitBtn button:hover {
    background-color: var(--mainColor);
    color: white;
}
.uploadingSong {
    background-color: #00000049;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
    flex-direction: column;
    row-gap: 1rem;
}
.uploadingSong label {
    margin-right: .5rem;
}
.uploadingSong form {
    background: linear-gradient(180deg, rgba(255,255,255,1) 1%, var(--mainColorTransparent) 280%);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.uploadingSong input[type=file]{
    width: 10rem;
}
.uploadingSong input {
    border: 0.1rem solid #000;
    border-radius: 0.5rem;
}
.uploadingSong button {
    border: .1rem solid #000;
    border-radius: .5rem;
    padding: 0.5rem;
    background-color: #fff;
}
.uploadingSong button:hover {
    background-color: var(--mainColor);
    color: white;
}
.flex-gap {
    gap: 1rem
}
.space-between {
    justify-content: space-between;
}
.registration-div {
    display: flex;
    flex-direction: column;
}
.newPlaylistElement {
    height: 6rem;
}
#playlistdata {
   align-items: center;
}
#playlistHead {
    background: 0;
    font-size: large;
    pointer-events: none;
}
#returnBtn {
    display: inline;
}
#returnBtn:hover {
    font-weight: bold;
    color: var(--mainColor)
}
.playlistContainer ul li:hover {
    transform: translateY(-0.1rem);
    background: linear-gradient(180deg, var(--mainColor) 50%, var(--mainColorTransparent) 100%);
    cursor: pointer;
    color: white;
    /* background-color: var(--mainColor); */
    /* color:white; */
}
.button-custom {
    color: #000 !important;
}
.playlistThingy:hover {
    color: var(--mainColor);
}
.song-list-item {
    opacity: 0;
    transform: translateY(0.5rem);
    animation: slideUp 0.5s forwards;
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }